// global variables

// headline font
$headline-font: "Crimson Text", Times, "Times New Roman", serif;

// main font
$font: "Crimson Text", Times, "Times New Roman", serif;

// control font
$control-font: "proxima-nova", "Helvetica Neue", Arial, sans-serif;

// buttons font
$button-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

// forms font
$form-font: "Ovo", Times, "Times New Roman", serif;