// global variables

// main font
$font: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;

// headline font
$headline-font: $font;

// control font
$control-font: $font;

// buttons font
$button-font: $font;

// forms font
$form-font: $font;