<div class="twocolumn-container clearfix">

    <div class="left-column">

        {{ content_for_notifications }}

        <div class="content-{{ request.template  | replace: '_', '-' }}">
            {% yield %}
        </div>

    </div>

</div> <!-- .twocolumn_container -->
