<p>
    <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
         You can style it or move it in different ways, but please leave it in the footer. -->
    Created with <a href="http://nationbuilder.com/">NationBuilder</a>
</p>